:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
    --darkgray: #9F9F9F;
    --dimgray: #5D5D5D;
    --dimgray2: #636363;
    --whitesmoke: #F8F8F8;
    --salmon: #FF6A6A;
    --black: #222224;
    --gainsboro: #E1E1E1;
    --lightcoral: #F16D7F;
    --whitesmoke: #F8F3F4;
    --lightslategray: #A4A4A4;
    --darkgray2: #B1B1B1;
    --lavenderblush: #FFFFFF;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.header {
    background-color: var(--dark-blue);
}

.header__navigation {
    display: none;
    background-color: var(--whitesmoke);
    width: 232px;
    height: 764px;
    position: absolute;
    right: 0;
    z-index: 2;
}

.header__navigation-menu {
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    padding-bottom: 15px;
    padding-top: 24px;
    padding-left: 33px;
}

.header__navigation-header {
    text-transform: uppercase;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--lightcoral);
    text-decoration: none;
    padding-bottom: 12px;
    display: grid;
    padding-top: 9px;
    padding-left: 33px;
}

.header__navigation-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
    color: var(--dimgray);
    text-decoration: none;
    padding-bottom: 11px;
    display: grid;
    padding-left: 54px;
}

.header__close {
    transform: translate(203px, 16px);
}

.header__wrapper {
    min-height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__link {
    margin: 0 34px 0 0;
}

.header__logo {
    margin: 0 41px 0 0;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    background-color: var(--pink);
    flex-grow: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.brand__title:before {
    content: '';
    width: 12px;
    height: 92px;
    background: var(--dark-pink);
    position: absolute;
    left: 64px;
}

.brand__subtitle {
    display: block;
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;
}

.brand__subtitle-pink {
    color: var(--dark-pink)
}

.stocks__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stocks__item {
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--lavenderblush);
    text-align: center;
}

.stocks__item-header {
    color: var(--dark-pink);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.stocks__item--woman {
    background-image: url(../img/woman.jpg);
}

.stocks__item--man {
    background-image: url(../img/man-2.jpg);
}

.stocks__item--kids {
    background-image: url(../img/kid.jpg);
}

.stocks__item--accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    margin: 0;
}

.products__heading {
    margin: 97px 0 6px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.products__text {
    margin-bottom: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: var(--darkgray);
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 49px;
}

.products__item {
    width: 360px;
    background-color: var(--whitesmoke);
    margin-bottom: 30px;
}

.products__item-heading {
    margin: 25px 0 0 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.products__item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--dimgray);
    margin: 13px 29px 18px 17px;
}

.products__item-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-pink);
}

.products__button-all {
    padding: 15px 39px;
    border: 1px solid var(--salmon);
    text-decoration: none;
    background: var(--dark-pink);
    color: var(--lavenderblush);
}

.products__button-center {
    text-align: center;
    margin-bottom: 96px;
}

.aside {
    background-color: var(--black);
}

.aside__list {
    display: flex;
    justify-content: space-around;
    padding: 103px 0 104px 0;
}

.aside__item {
    width: 360px;
    text-align: center;
    color: var(--whitesmoke);
}

.aside__item-img {
    padding-bottom: 28px;
}

.aside__item-heading {
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.aside__item-text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.footer__top {
    min-height: 448px;
    display: flex;
    justify-content: space-around;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}

.footer__top-text {
    padding-top: 30px;
    width: 360px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.footer__blog {
    padding-top: 87px;
    text-align: center;
}

.footer__sub {
    padding-top: 150px;
    text-transform: uppercase;
}

.footer__sub-heading {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    font-family: Lato;
    font-weight: 700;
}

.footer__sub-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer__bottom {
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
}

.footer__bottom-text {
    color: var(--whitesmoke);
    padding: 30px 0;
    font-size: 16px;
    line-height: 19px;
    width: 400px;
}

.footer__bottom-list {
    display: flex;
    padding: 24px 0;
}

.footer__link {
    padding: 0 8px 0 0
}

.footer__form {
    padding-top: 32px;
}

.footer__email {
    -webkit-border-top-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-topleft: 30px;
    -moz-border-radius-bottomleft: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    background-color: var(--gainsboro);
    border: none;
    width: 212px;
    height: 49px;
    padding: 0 22px;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__button {
    -webkit-border-top-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-topright: 30px;
    -moz-border-radius-bottomright: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    background-color: var(--dark-pink);
    border: none;
    width: 100px;
    height: 49px;
    color: var(--lavenderblush);
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    position: relative;
    left: -4px;
}

.black {
    display: none;
    width: 100%;
    height: 764px;
    z-index: 1;
    background-color: rgba(0, 0, 0, .5);
    position: absolute;
    top: 75;
    left: 0;
}

.products__item {
    position: relative;
}

.product__black {
    display: none;
    width: 100%;
    height: 420px;
    z-index: 1;
    background: rgba(58, 56, 56, 0.86);
    position: absolute;
    top: 75;
    left: 0;
}

.ghost-button {
    display: none;
    margin: 0 auto;
    padding: 8px;
    width: 138px;
    height: 43px;
    background: rgba(255, 255, 255, 0);
    color: #fff;
    text-align: center;
    text-decoration: none;
    position: absolute;
    top: 210px;
    left: 111.5px;
    border: 1px solid #FFFFFF;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px;
    align-items: flex-start;
    z-index: 2;
}

.item-img {
    position: absolute;
    top: 7px;
    left: 10px;
}

.item-text {
    position: absolute;
    top: 13px;
    left: 55px;
}

.new {
    background: var(--whitesmoke);
    min-height: 148px;
}

.new__container {
    display: flex;
    justify-content: space-between;
}

.new__list {
    display: flex;
    padding-top: 65px;
}

.new__list-a {
    text-decoration: none;
    color: var(--dimgray2);
    text-transform: uppercase;
}

.new__header {
    padding-top: 59px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--lightcoral);
    text-transform: uppercase;
}

.new__list-mew {
    font-family: Lato;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--lightcoral);
}

.main {
    min-height: 2124px;
}

.registration {
    background: var(--whitesmoke);
    min-height: 148px;
}

.registration__header {
    padding-top: 65px;
    padding-top: 59px;
    font-family: Lato;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: var(--lightcoral);
    text-transform: uppercase;
}

.form {
    display: flex;
    padding-top: 64px;
}

.form__info {
    max-width: 652px;
}

.form__reg-header {
    padding-bottom: 20px;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 300;
    line-height: 19px;
}

.form__reg-first {
    width: 336px;
    height: 45px;
    margin-bottom: 21px;
    padding-left: 18px;
}

.form__reg-last {
    width: 336px;
    height: 45px;
    margin-bottom: 31.5px;
    padding-left: 18px;
    color: var(--darkgray2);
}

.radio {
    margin-right: 10px;
    width: 17px;
    height: 17px;
    border: 1px solid #A4A4A4;
    box-sizing: border-box;
    vertical-align: sub;
}

.radio-female {
    margin-left: 20px;
}

.form__radio {
    display: flex;
    padding-bottom: 34px;
}

.radio-text {
    font-family: Lato;
    font-size: 11px;
}

.form-login {
    font-weight: 300;
    font-size: 16px;
    padding-bottom: 21px;
}

.form-email {
    width: 336px;
    height: 45px;
    margin-bottom: 21px;
    padding-left: 18px;
}

.form-password {
    width: 336px;
    height: 45px;
    margin-bottom: 15.5px;
    padding-left: 18px;
}

.form__login-text {
    font-weight: 300;
    font-size: 13px;
    color: var(--darkgray2);
    width: 359px;
    margin-bottom: 39px;
}

.form-button {
    width: 167px;
    height: 50px;
    font-size: 14px;
    color: var(--lavenderblush);
    background: #F16D7F;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    margin-bottom: 96px;
}

.arrow {
    padding-left: 20px;
}

.form__info-loyalty {
    font-weight: 300;
    font-size: 24px;
    padding-bottom: 22px;
}

.form__info-vector {
    padding-right: 23px;
}

.form__info-text {
    font-weight: 300;
    font-size: 24px;
    padding-bottom: 21px;
}

.form__info-welcome {
    font-weight: 300;
    font-size: 24px;
}