:root {
    --dark-blue: #222222;
    --pink: #F1E4E6;
    --dark-pink: #F16D7F;
    --brown: #474040;
    --darkgray: #9F9F9F;
    --dimgray: #5D5D5D;
    --whitesmoke: #F8F8F8;
    --salmon: #FF6A6A;
    --black: #222224;
}

body {
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
}

.container {
    width: 1138px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.header {
    background-color: var(--dark-blue);
}

.header__navigation {
    display: none;
}

.header__wrapper {
    display: flex;
    align-items: center;
    min-height: 75px;
    justify-content: space-between;
}

.header__button {
    background-color: transparent;
    border: none;
    margin: 0 34px 0 0;
}

.header__link {
    margin: 0 34px 0 0;
}

.header__logo {
    margin: 0 41px 0 0;
}

.brand {
    display: flex;
    margin: 0 0 63px;
}

.brand__title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.brand__title-wrapper {
    padding: 0 0 0 91px;
    background-color: var(--pink);
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.brand__subtitle {
    display: block;
    font-size: 37px;
    font-weight: 700;
    line-height: 44px;
}

.brand__subtitle-pink {
    color: var(--dark-pink)
}

.stocks__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stocks__item {
    width: 360px;
    min-height: 260px;
    background-color: var(--brown);
    margin: 0 0 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.stocks__item-header {
    color: var(--dark-pink);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
}

.stocks__item--woman {
    background-image: url(../img/woman.jpg);
}

.stocks__item--man {
    background-image: url(../img/man-2.jpg);
}

.stocks__item--kids {
    background-image: url(../img/kid.jpg);
}

.stocks__item--accesories {
    background-image: url(../img/accesories.jpg);
    width: 100%;
    margin: 0;
}

.products__heading {
    margin: 97px 0 6px 0;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
}

.products__text {
    margin-bottom: 48px;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    text-align: center;
    color: var(--darkgray);
}

.products__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 49px;
}

.products__item {
    width: 360px;
    background-color: var(--whitesmoke);
    margin-bottom: 30px;
}

.products__item-heading {
    margin: 25px 0 0 18px;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    text-transform: uppercase;
}

.products__item-text {
    font-size: 14px;
    font-weight: 300;
    line-height: 17px;
    color: var(--dimgray);
    margin: 13px 29px 18px 17px;
}

.products__item-button {
    display: none;
}

.products__item-price {
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    color: var(--dark-pink);
}

.products__button-all {
    padding: 15px 39px;
    border: 1px solid var(--salmon);
    text-decoration: none;
    color: var(--dark-pink);
}

.products__button-center {
    text-align: center;
    margin-bottom: 96px;
}

.aside {
    background-color: var(--black);
}

.aside__list {
    display: flex;
    justify-content: space-around;
    padding: 103px 0 104px 0;
}

.aside__item {
    width: 360px;
    text-align: center;
    color: var(--whitesmoke);
}

.aside__item-img {
    padding-bottom: 28px;
}

.aside__item-heading {
    padding-bottom: 16px;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.aside__item-text {
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
}

.footer__top {
    min-height: 448px;
    display: flex;
    justify-content: space-around;
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-size: 100%
}

.footer__top-text {
    padding-top: 30px;
    width: 360px;
    text-align: center;
    font-size: 20px;
    line-height: 24px;
}

.footer__blog {
    padding-top: 87px;
    text-align: center;
}

.footer__sub {
    padding-top: 150px;
    text-transform: uppercase;
}

.footer__sub-heading {
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    font-family: Lato;
    font-weight: 700;
}

.footer__sub-text {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.footer__bottom {
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
}

.footer__bottom-text {
    color: var(--whitesmoke);
    padding: 30px 0;
    font-size: 16px;
    line-height: 19px;
    width: 400px;
}

.footer__bottom-list {
    display: flex;
    padding: 24px 0;
}