$dark-blue: #222222;
$pink: #F1E4E6;
$dark-pink: #F16D7F;
$brown: #474040;
$darkgray: #9F9F9F;
$dimgray: #5D5D5D;
$dimgray2: #636363;
$whitesmoke: #F8F8F8;
$salmon: #FF6A6A;
$black: #222224;
$gainsboro: #E1E1E1;
$lightcoral: #F16D7F;
$whitesmoke: #F8F3F4;
$lightslategray: #A4A4A4;
$darkgray2: #B1B1B1;
$lavenderblush: #FFFFFF;