.aside {
    background-color: $black;
    &__list {
        display: flex;
        justify-content: space-around;
        padding: 103px 0 104px 0;
        @include tablet {
            @media (max-width: 1050px) {
                display: block;
                padding: 48px 0 16px 0;
            }
        }
    }
    &__item {
        width: 360px;
        text-align: center;
        color: $whitesmoke;
        @include tablet {
            @media (max-width: 1050px) {
                padding: 0 0 48px 0;
                margin: 0 auto
            }
        }
    }
    &__item-img {
        padding-bottom: 28px;
    }
    &__item-heading {
        padding-bottom: 16px;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
    }
    &__item-text {
        font-weight: 300;
        font-size: 13.972px;
        line-height: 17px;
    }
}